:root{
--Dark-cyan: hsl(158, 36%, 37%);
--Cream: hsl(30, 38%, 92%);
  
--dark-blue: hsl(212, 21%, 14%);
--grayish-blue: hsl(228, 12%, 48%);
--White: hsl(0, 0%, 100%);
}

/* Resets */

*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

body{
  background-color: var(--Cream);
  font-family: "Montserrat", sans-serif;

}

.product{
  background-color: var(--White);
}

.product__content{
  padding: 1rem;
}

.flex-group{
  display: flex;
}